@model gbajax.Models.Guestbooks

@{
    ViewBag.Title = "修改留言";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    <h3>修改留言</h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.CONTENT)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CONTENT)
                @Html.ValidationMessageFor(model => model.CONTENT)
            </td>
        </tr>
    </table>
    if (Model.REPLYTIME == null)
    {
        <input type="submit" value="修改留言" />
    }

    else
    {
        <t>此留言已回覆無法修改，請</t>
        @Html.ActionLink("返回列表","Index")
    }


}
