@model gbajax.Views.GuestbooksViewModel

<div id="DataList">
    <h2>留言板</h2>
    @using (Ajax.BeginForm("GetDataList", "Guestbooks", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace
        ,
        UpdateTargetId = "DataList"

    }))


    {
        <table>
            <tr>
                <td>
                    .
                    @Html.LabelFor(Model => Model.Search)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Search)
                </td>
                <td>
                    <input type="submit" value="搜尋" />
                </td>
            </tr>
        </table>


    }

    <table>
        @if (!Model.DataList.Count.Equals(0))
        {
            foreach (var item in Model.DataList)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.DataList[0].Member.Name)
                    </td>
                    <td>
                        @item.ACCOUNT
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.DataList[0].CREATETIME)
                    </td>
                    <td>
                        @item.CREATETIME
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.DataList[0].CONTENT)
                    </td>
                    <td>
                        @item.CONTENT
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.DataList[0].REPLY)
                    </td>
                    <td colspan="3">
                        @item.REPLY
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.DataList[0].REPLYTIME)
                    </td>
                    <td>
                        @item.REPLYTIME
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ActionLink("修改留言", "Edit", new { ID = item.ID })
                        @Html.ActionLink("回覆留言", "Reply", new { ID = item.ID })
                        @Html.ActionLink("刪除留言", "Delete", new { ID = item.ID })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    資料庫內查無資料
                </td>
            </tr>
        }
        <tr>
            <td>
                @if (Model.Paging.NowPage > 1)
                {
                    @Ajax.ActionLink("<<", "GetDataList", new { Page = 1, Search = Model.Search }, new AjaxOptions
                {
                   InsertionMode = InsertionMode.Replace
                   ,
                   UpdateTargetId = "DataList"
                })

                    @Ajax.ActionLink("<", "GetDataList", new { Page = Model.Paging.NowPage - 1, Search = Model.Search }, new AjaxOptions
                 {
                  InsertionMode = InsertionMode.Replace
                  ,
                  UpdateTargetId = "DataList"
              })
                }

            </td>
            <td>
                @for (var page = (Model.Paging.NowPage - 6); page < (Model.Paging.NowPage + 6); page++)
                {
                    if ((page > 0) && (page <= Model.Paging.MaxPage))
                    {
                        if (page == Model.Paging.NowPage)
                        {
                            <b> @page </b>
                        }

                        else
                        {
                            @Ajax.ActionLink(page.ToString(), "GetDataList", new { Page = page, Search = Model.Search }, new AjaxOptions


                       {
                           InsertionMode = InsertionMode.Replace
                            ,
                           UpdateTargetId = "DataList"

                       })
                        }
                    }
                }
            </td>
            <td>
                @if (Model.Paging.NowPage < Model.Paging.MaxPage)
                {
                    @Ajax.ActionLink(">", "Index", new { Page = Model.Paging.NowPage + 1, Search = Model.Search }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace
                    ,
                   UpdateTargetId = "DataList"

               })
                    @Ajax.ActionLink(">>", "Index", new { Page = Model.Paging.MaxPage, Search = Model.Search }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace
                   ,
                   UpdateTargetId = "DataList"
               })

                }
            </td>
        </tr>

    </table>






</div>
