@model gbajax.Models.Guestbooks

@{
    ViewBag.Title = "回覆留言";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    <h3>回覆留言</h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.CONTENT)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CONTENT)
                @Html.ValidationMessageFor(model => model.CONTENT)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.REPLY)
            </td>
            <td>
                @Html.TextBoxFor(model => model.REPLY)
                @Html.ValidationMessageFor(model => model.REPLY)
            </td>

        </tr>

    </table>
    if (Model.REPLYTIME == null)
    {
        <input type="submit" value="回覆留言" />
    }

    else
    {
        <t>此留言已回覆，請</t>
        @Html.ActionLink("返回列表", "Index")
    }


}


