@model gbajax.ViewsModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewData["ChangeState"]</h2>
<h2>修改密碼</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.Password)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.NewPassword)
        </td>
        <td>
            @Html.TextBoxFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.NewPasswordCheck)
        </td>
        <td>
            @Html.TextBoxFor(model => model.NewPasswordCheck)
            @Html.ValidationMessageFor(model => model.NewPasswordCheck)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.ValidationSummary()
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="修改密碼" />
        </td>
    </tr>
</table>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Guestbooks")
</div>
